In [1]:
import numpy as np
import pandas as pd

<h1><center>LIWWA PREDICTIVE MODEL</center></h1> 
<h3><center>Luke Heine, Cole Scanlon</center></h3>

# Project Specs
____________________________

##### Project Description
Build a predictive model of the likelihood that a borrower application gets completed (meaning the application is finished and all required documents are submitted). We’re trying to predict the probability that a given user will have an associated ticket event signifying that his/her application was completed.  


##### Technology
First a word on our data science stack. We have a reasonably complete scientific python setup on production, with scipy, numpy, pandas, scikit-learn and ipython. We can also add other libraries if you need them, especially if they’re available through pip. 
Our business database is MariaDB/MySQL which we access on production code through SQLAlchemy (slightly modified to integrate nicely with pandas).
Our servers run Linux (Debian) and our developers work on Linux virtual machines (virtualbox) on their laptops (which are all Mac/OSX),. You could either get similar set-ups or work on your own machines, but if you want to work directly with production code we’ll need to set you up with the former.
I think for this particular project some knowledge of MySQL will be very very helpful, as I will explain below. If you are not familiar with SQL or MySQL from before it might be valuable to do some introductory reading here.

##### Data
So, the structure of the data: we have a so-called relational database where data is distributed over a number of different tables. When you arrive in Amman we’ll give you access to our VPN and you will be able to query this database directly using MySQL. As relates to the borrower application, the rough structure of the relevant tables is as follows:
Each borrower is associated with a row in a

(1) user table 
which contains basic information about the individual. Users may have one or more businesses associated with them, stored in a 

(2) business table. 
Each business may have one ore more loan application associated with it, stored in a 

(3) funding campaigns table. 
Campaigns also have information about the purpose of the loan stored in a somewhat confusingly names 

(4) asset table.
Each funding campaign also has an associated ticket which we store in 

(5) tickets, 
and each tickets has any number of ticket events associated with it, stored in 

(6) events,
which include, for example, emails received, phone calls made etc.

# Data
____________________________

There are six datasets:

(1) users

(2) businesses

(3) campaigns

(4) assets

(5) tickets

(6) events

In [7]:
#Load user data
user = pd.read_csv('datasets/users.csv',sep=",")

#Load business data
businesses = pd.read_csv('datasets/businesses.csv',sep=",")

#Load campaigns data
campaigns = pd.read_csv('datasets/campaigns.csv',sep=",")

#Load assets data
assets = pd.read_csv('datasets/assets.csv',sep=",")

#Load tickets data
tickets = pd.read_csv('datasets/tickets.csv',sep=",")

#Load user data
events = pd.read_csv('datasets/events.csv',sep=",")

In [8]:
user.head()

Empty DataFrame
Columns: [id, email,  user_type                   ,  first_name                  ,  last_name                   ,  password_hash               ,  address_id                  ,  email_verified              ,  residence_country           ,  total_password_reset_count  ,  total_login_count           ,  total_forgot_password_count ,  last_login_date             ,  last_login_ip               ,  accepted_investor_tos       ,  registration_phone_number   ,  stripe_customer_id          ,  registration_reminder_date  ,  token_login_count           ,  last_token_login_date       ,  last_known_uuid             ,  arabic_first_name           ,  arabic_last_name            ,  no_marketing_emails         ,  referral_source             ,  user_locale                 ,  duplicate_of                ,  create_date                 ,  update_date ]
Index: []

[0 rows x 29 columns]

In [9]:
businesses.head()

Empty DataFrame
Columns: [ id                              ,  user_id                         ,  next_registration_step          ,  business_name                   ,  business_city                   ,  business_phone                  ,  months_in_operation             ,  business_description            ,  skype_id                        ,  business_address                ,  is_blacklisted                  ,  has_bounced_checks              ,  bounced_checks_number           ,  has_checkbook                   ,  alternate_business_name         ,  has_bank_account                ,  business_annual_income_amount   ,  number_of_employees             ,  has_company_certificate         ,  business_annual_income_currency ,  create_date                     ,  update_date]
Index: []

[0 rows x 22 columns]

In [10]:
campaigns.head()

Empty DataFrame
Columns: [ id                     ,  funding_goal_amount    ,  pledged_funds_amount   ,  is_approved            ,  start_date             ,  end_date               ,  is_funded              ,  business_id            ,  asset_id               ,  payment_interval_count ,  payment_interval_unit  ,  payment_grace_count    ,  is_repaid              ,  profit_rate            ,  payment_grace_unit     ,  photo_file_name        ,  funded_date            ,  risk_level             ,  business_score         ,  business_sector        ,  client_score           ,  collateral_score       ,  loan_type              ,  overall_score          ,  is_expired             ,  is_cancelled           ,  approval_date          ,  liwwa_fee              ,  payment_interval_step  ,  is_restructured        ,  restructuring_date     ,  signing_date           ,  loan_currency          ,  funding_goal_currency  ,  pledged_funds_currency ,  create_date            ,  update_date ]
Index: []

[0 rows x 37 columns]

In [11]:
assets.head()

Empty DataFrame
Columns: [ id                    ,  business_id           ,  asset_description     ,  asset_price_amount    ,  asset_origin_store    ,  why_this_asset        ,  why_this_asset_arabic ,  asset_type            ,  asset_price_currency  ,  create_date           ,  update_date]
Index: []

In [12]:
tickets.head()

Empty DataFrame
Columns: [ id              ,  user_id         ,  ticket_status   ,  ticket_owner_id ,  user_type       ,  campaign_id     ,  create_date     ,  update_date ]
Index: []

In [13]:
events.head()

,id,ticket_id,event_type,event_notes,event_initiator_id,event_metadata,edit_of,is_deleted,is_edited,create_date,update_date
0,NaN,NaN,status_open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,status_application_rejected,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,received_call,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,made_call,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,sent_more_data_email,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data Visualization
____________________________

# Model
____________________________